<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
</head>
<body>
<section class="page-header">
  <a href="<%= site.basePath/public/index.html %>/" class="btn">Home</a>
</section>

<section class="main-content">
  <%- body %>
  <%- include('../pages/html-page/index.html') %>
</section>
</body>
</html>